In [1]:
def add(n1,n2):
    a =n1+n2
    return a

def hi():
    print("sum",add(1,2))
    
hi()

sum 3

In [92]:
def fact(n):
    
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
#n=int(input("enter a number"))
n=int(input("enter a number"))
print(fact(n))

120

In [19]:
sq=[i**i for i in range(1,6)]
print(sq)

[1, 4, 27, 256, 3125]

In [ ]:
even=[i for i in range(n) if i%2==0 ]
n=int(input("enter a number"))
print(even)

[0, 2, 4]

given a list of strings use a list compersiion to creatr a new list containing ony stirngs tht have more than five characters like

In [33]:
even=["hi","bananaa","three","helooooo"]
s=[i for i in even if len(i)> 5]
print(s)

['bananaa', 'helooooo']

print only the names in list

In [77]:
s=[{"name":"john1","age":18},{"name":"john","age":20}]
c=[value for i in s for key,value in i.items() if key=="name" ]
print(c)

['john1', 'john']

nested list into a single  list

In [80]:
x=[[1,2,3],[4,5,6],[7,8,9]]
d=[x for i in x for x in i ]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]